<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.beliefarm.config.mapper.dayValueMapper">


<select id="selectDayValueByPrjId" parameterType="int" resultType="dayValue">
	SELECT 	id	id,
    			estmCount estmCount,
		    registDate registDate,
		    avgTemp avgTemp,
		    avgHumid avgHumid,
		    avgPH avgPh,
		    avgWater avgWater,
		    prjId projectId
	FROM 	DayValue
	WHERE	prjId = #{value}
</select>


	<insert id="insertDayvalue" parameterType="DayValue">
		INSERT into DayValue VALUES (#{id}, #{estmCount}, #{registDate}, #{avgTemp}, #{avgHumid}, #{avgPh}, #{avgWater}, #{projectId});		
	</insert>
	
	<select id="selectDayValueByDate" parameterType="Date" resultType="DayValue">
		SELECT 	id,
				estmCount,
				registDate,
				avgTemp,
				avgHumid,
				avgPh,
				avgWater,
				prjId AS projectId
		FROM DayValue 
		WHERE registDate = Date(#{value})
		
	</select>
	
	
	<select id="selectById" parameterType="_int" resultType="DayValue">
		SELECT 	id,
				estmCount,
				registDate,
				avgTemp,
				avgHumid,
				avgPh,
				avgWater,
				prjId AS projectId
		FROM DayValue 
		WHERE id = #{dayValueId}
	</select>
	
	
	
	<update id="updateDayValue" parameterType="DayValue">
		UPDATE DayValue SET avgTemp = #{avgTemp}, avgHumid = #{avgHumid}, avgPH = #{avgPh}, avgWater = #{avgWater}, estmCount = #{estmCount} WHERE registDate = #{registDate};
	</update>
	

</mapper>